@import '../variables';

.grid-2-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 0 60px;

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;

        .brown-background {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 50px;
            background-color: $line-color;
            height: 100%;

            p {
                font-size: 2rem;
                color: #fff;
                text-align: Center;
                font-weight: bold;
            }
        }
    }
}

.grid-3-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    padding: 0 60px;

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;

        p {
            font-size: 1.5rem;
            color: $line-color;
            text-align: justify;
            font-weight: bold;
        }
    }
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}