@import '../variables';

@media screen and (max-width: 768px) {
    .social-media {
        display: none;
    }

    .cont-footer {
        .responsive_qr {
            display: none;
        }
    }

    .container-2-grid {
        grid-template-columns: 1fr;

        .grid-item {
            height: auto;

            .grid-3-items {
                grid-template-columns: 1fr;

                img {
                    height: 100px;
                }
            }

            .grid-5-items {
                display: grid;
                grid-template-columns: 1fr;
                width: 100%;
                justify-items: center;
                align-items: center;

                .img-text {
                    height: 200px;
                    width: 200px;
                }
            }
        }
    }

    .box-color {
        .container-2-grid {
            grid-template-columns: 1fr;
            padding: 0px;

            .grid-item {
                .title {
                    font-size: 1.5rem;
                    margin-bottom: 10px;
                }

                .text-content {
                    font-size: 1rem;
                }
            }
        }
    }

    .grid-4-item {
        grid-template-columns: repeat(2, 1fr);

        .text-content {
            font-size: 1rem;
        }
    }

    .container-img-text-btn {
        img {
            width: 100%;
            height: 100%;
        }
    }
        
    .flex-row  {
        grid-template-columns: 1fr;
    }

    .custom-btn {
        padding: 10px 20px;
    }

    .grid-2-items {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 0 60px;

        .item {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 10px;

            .brown-background {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 50px;
                background-color: $line-color;
                height: 100%;

                p {
                    font-size: 1.5rem;
                    color: #fff;
                    text-align: Center;
                    font-weight: bold;
                }
            }
        }
    }

    .grid-3-item {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        padding: 0 60px;

        .item {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 10px;

            p {
                font-size: 1.5rem;
                color: $line-color;
                text-align: justify;
                font-weight: bold;
            }
        }
    
    }

    .context-to-center {
        padding: 0 20px;

        p {
            font-size: 1.5rem;
        }
        
        .grid-3-item {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            margin-top: 20px;
            width: 100%;
            height: 100%;

            .item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                .img-text {
                    position: relative;
                    width: 100%;
                    height: 150px;
                    box-shadow: 10px 10px 15px gray;

                    .background-img {
                        position: absolute;
                        width: 100%;
                        height: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 5px;
                        }
                    }
                    span {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                    }
                }
            }
        }
    }

    .login-container {
        width: 100%;
        height: auto;

        .center-form {
            width: 100%;
            height: auto;
        }
    }

    .image_text {
        .background-img {
            p {
                font-size: 1rem;
            }
        }
    }

    .grid-profile {
        width: 100%;
        padding: 20px 0;
        grid-gap: 0px;
        grid-template-columns: 0.3fr 1fr;
        .grid-item {
            .left-content-perfil {
                width: 150px;
                .grid-2-items {
                    .grid-item {
                        h3 {
                            display: none;
                        }
                        h4 {
                            display: none;
                        }
                    }
                }
                .list-items {
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    width: 100%;
                    p {
                        display: none;
                    }
                    a {
                        width: 100%;
                        height: 50px;
                        span {
                            font-size: 1.5rem;
                        }
                    }
                }
            }

            button {
                width: 100%;
                height: 50px;
                font-size: 0.7rem;
            }

            label {
                font-size: 0.7rem;
                width: 100%;
            }

            .profile-data {
                width: 100%;
                height: 100%;

                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;

                    label {
                        font-size: 1rem;
                    }
                }

                button {
                    width: 10px;
                    height: 50px;
                    font-size: 0.7rem;
                }
            }
        }
    }
}

// Tablet
@media screen and (min-width: 768px) and (max-width: 1025px) {
    .container-2-grid {
        grid-template-columns: 0.5fr 1fr;

        .grid-item {
            height: 100%;

            .grid-3-items {
                grid-template-columns: 1fr 1fr;

                img {
                    height: 130px;
                }
            }

            .grid-5-items {
                grid-template-columns: 1fr 1fr 1fr;

                .img-text {
                    height: 150px;
                }
            }
        }
    }

    .grid-4-item {
        grid-template-columns: 1fr 1fr;
    }

    .container-img-text-btn {
        img {
            width: 100%;
            height: 100%;
        }
    }

    .flex-row {
        grid-template-columns: repeat(2, 1fr);

        .grid-2-item  {
            grid-template-columns: 0.3fr 1fr;

            .item {
                padding: 20px;
            }
        }
    }

    .custom-btn {
        padding: 10px 20px;
    }

    .grid-2-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 0 60px;

        .item {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 10px;

            .brown-background {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 50px;
                background-color: $line-color;
                height: 100%;

                p {
                    font-size: 2rem;
                    color: #fff;
                    text-align: Center;
                    font-weight: bold;
                }
            }
        }
    }

    .grid-3-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        padding: 0 60px;

        .item {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 10px;

            p {
                font-size: 1.5rem;
                color: $line-color;
                text-align: justify;
                font-weight: bold;
            }
        }
    }

    .context-to-center {
        padding: 0 20px;

        p {
            font-size: 1.5rem;
        }
        
        .grid-3-item {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            margin-top: 20px;
            width: 100%;
            height: 100%;

            .item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                .img-text {
                    position: relative;
                    width: 100%;
                    height: 150px;
                    box-shadow: 10px 10px 15px gray;

                    .background-img {
                        position: absolute;
                        width: 100%;
                        height: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 5px;
                        }
                    }
                    span {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                    }
                }
            }
        }
    }

    .login-container {
        width: 100%;
        height: 100% !important;
        padding-top: 20px;

        .center-form {
            height: auto;
        }
    }

    .image_text {
        .background-img{
            p {
                font-size: 2.5rem;
            }
        }
    }

    .grid-profile {
        .grid-item {
            .left-content-perfil {
                .grid-2-items {
                    .grid-item {
                        h3 {
                            display: none;
                        }
                        h4 {
                            display: none;
                        }
                    }
                }
                .list-items {
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    width: 100%;
                    p {
                        display: none;
                    }
                    a {
                        width: 100%;
                        height: 50px;
                        span {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}