@use './common/footer';
@use './common/floating';
@use './common/buttonstyle';
@use './pages/home';
@use './pages/us';
@use './pages/autosmotos';
@use './pages/pesados';

@use './media/mediaquery';
@use './common/carrousel';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'times new roman' !important;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}